* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(141, 141, 108);
}
body > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  gap: 15px;
}
.details {
  border-radius: 10px;
  background-color: rgb(189, 189, 147);
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
img {
  margin-left: 10px;
  width: 200px;
}
span {
  color: rgb(117, 27, 27);
}
button {
  border: none;
  width: 70px;
  height: 25px;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  background-color: rgb(83, 79, 71);
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: flex-end;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  background-color: rgb(189, 189, 147);
}
#clock {
  display: flex;
  gap: 10px;
  padding: 0px 15px 5px 0px;
}
#down,
#up {
  color: black;
  border-radius: 50%;
  background-color: brown;
  border: solid white 2px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0.3;
  position: fixed;
  right: 8px;
}
#up {
  bottom: 60px;
}
#down {
  bottom: 30px;
}
#down:hover,
#up:hover {
  opacity: 1;
  cursor: pointer;
}
.span {
  display: none;
}
@media (min-width: 1024px) {
  #down,
  #up {
    width: 35px;
    height: 35px;
    bottom: 30px;
    right: 30px;
  }
  #up {
    bottom: 70px;
  }
  footer {
    font-size: 16px;
  }
  .span {
    display: contents;
  }
}
